*{
  margin: 0%;
  padding: 0%;
}
.fnav{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 6px;
  color: rgb(4, 3, 3);
  background-color: rgb(26,26,48);

}
.fnav .left{
  display: flex;
  margin-top: 10px;
}
.left img{
  width: 10%;
  padding: 6px;
  border: 6px;
  margin-top: -10px;
}
.left input{
  margin-inline: 11px;
  width: 420px;
  height: 33px;
  border: none;
  outline: none;
  text-align: center;
  margin-top: 16px;
  border-radius: 2px;
}
.fnav .right{
  display: flex;
  margin-top: 11px;
  color: rgb(237, 237, 237);
}
.right h3{
  margin-inline: 12px;
  font-size: 18px;

}
.right button{
  margin-inline: 22px;
  width: 80px;
  height: 27px;
  border: none;
  border-radius: 2px;
  background-color: rgb(244,69,98);
  color: white;

}
.right i{
  margin-inline: 22px;
  font-size: 22px;
}
.sec-nav{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 9px;
  background-color: rgb(26,26,48);
  color: white;

}
.sec-nav .s-left{
  display: flex;
}
.sec-nav .s-right{
  display: flex;
}
.sec-nav p:hover{
  color: rgb(245,69,98);
  cursor: pointer;
  font-weight: 600;

}
.s-left p{
  margin-inline-start: 18px;

}
.s-right p{
  margin-inline-start: 22px;
  
}
.main img{
  width: 100%;
}
.container h2{
  text-align: center;
  padding: 22px;
}
.container h3{
  text-align: center;
  padding: 22px;
}
.container .card{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.card img{
  width: 16.5%;
  margin-block: 15px;
  border-radius: 5px;
}
.banner img{
  width: 100%;
  margin-top: 44px;
}
.premiere{
  background-color: rgb(8,8,19);
  color: white;
  padding: 23px;
  margin-top: 44px;
}
.container .card{
  margin-top: 11px;

}
.footer{
  background-color: rgb(227,218,218);
  padding: 33px;
  margin-top: 44px;

}
.footer img{
  width: 22%;
  margin-left: 39%;
  border-top: 2px solid grey;
}
.footer .icon{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 35%;
}
.icon i{
  margin-inline: 22px;
  font-size: 25px;
  font-size: 36px;

}